body{
    font-family: rubik, helvetica, arial, sans-serif;
}
.main-article{
    width: 50%;
    padding: 30px;
    margin: auto;
    background-color: rgb(218, 215, 215);
}
a{
    text-decoration: none;
    color: rgb(0, 84, 168);
}
td,th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}